* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  font-family: 'Hiragino Sans' !important;
  font-weight: 500 !important;
  text-decoration: none;
  color: black;
}

h1,
h2,
h3 {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

h2 {
  font-size: 20px;
  color: $green;
  text-align: left;
}

h3 {
  font-size: 18px;
  color: $green;
}

p {
  font-family: 'Hiragino Sans' !important;
  font-weight: 500 !important;
  font-size: 15px;
  line-height: 28px;
  text-align: left;
}

img {
  object-fit: cover;
}

.itemWrapper {
  width: 80vw;
  max-width: 1100px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.roundsquareImage {
  border-radius: 10px;
}

.shadebutton {
  height: 45px;
  font-size: 17px !important;
  font-family: 'Hiragino Sans' !important;
  font-weight: 600 !important;
  border-radius: 5px;
  background-color: white;
  color: $green;
  border: solid 1.5px $green;
  transition-duration: 0.3s;
  box-shadow: 3px 3px rgba($green, 0.3);

  &:hover {
    background-color: $green;
    color: white;
    transition-duration: 0.3s;
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s;
}

.v-enter,
.v-leave-to {
  opacity: 0;
}

.pageMargin {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.wrapper {
  max-width: 700px;
  width: 80vw;
  display: flex;
  flex-flow: column;
}

.imageLink {
  transition-duration: 0.3s;
  overflow:hidden;
  &:hover {
    opacity: 0.7;
    transition-duration: 0.3s;
  }
  img{
    transition-duration: 0.3s;
    &:hover{
      transform: scale(1.1);
      transition-duration: 0.3s;
    }
  }
}
